[Unit]
Description=Service File For Website
After=network.target

[Service]
ExecStart=/usr/bin/node /home/mike/website/website.js
Restart=on-failure
RestartSec=2
StandardOutput=journal+console
StandardError=journal+console
Type=simple
User=ubuntu
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_PORT=4000
WorkingDirectory=/home/mike/website

[Install]
WantedBy=multi-user.target